
.bio {
  margin: 0;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;


  @media (min-width: 768px) {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
  }

  @media (min-width: 980px) {
    margin: 0 auto;
    width: 50vw;
    height: 100%;
  }

  .title {
    width: 100%;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 48px;
  }

  .subtitle {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 24px;
  }

  p {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    z-index: 10;

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .overlay {
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
  }
}
