
.btn {
    position: relative;
    width: fit-content;
    width: 160px;
    height: fit-content;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    color: white;
    background-color: black;
    border: 1px solid #888;
    transition: all 0.4whites ease-in-out;
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        background-color: #121212;
        border: 1px solid white;
        color: white;
    }
}