.menu-bar,
.menu-overlay,
.menu-overlay-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 3px solid #e3e3e3;
  height: 120px;
  width: 120px;
  display: grid;
  place-content: center;
  font-size: clamp(24px, 4vw + 1rem, 36px);
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.menu-logo:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
}

.menu-logo:hover a {
  color: black;
}

.menu-bar a,
.menu-open p {
  color: #e5e4e5;
  cursor: pointer;
}

.menu-open p {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 3px solid #e3e3e3;
  height: 120px;
  width: 120px;
  display: grid;
  place-content: center;
  font-size: clamp(24px, 4vw + 1rem, 36px);
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.menu-open p:hover {
  color: #000000;
  background: #ffffff;
}

.menu-overlay-bar a,
.menu-info-col a,
.menu-close p {
  color: #000;
  cursor: pointer;
}

.menu-close p {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 3px solid #e3e3e3;
  height: 120px;
  width: 120px;
  display: grid;
  place-content: center;
  font-size: clamp(24px, 4vw + 1rem, 36px);
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0; /* Anchor the menu to the right */
  width: 100vw;
  height: 100vh;
  background: #ef6a17;
  z-index: 2;
  display: flex;
  clip-path: polygon(
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%
  ); /* Initially hidden off-screen to the right */
  transition: clip-path 0.3s ease-in-out;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12rem;
  padding-left: 12rem;
}

.menu-link-item {
  width: max-content;
  pointer-events: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: clamp(50px, 5vw + 1rem, 120px);
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-link-item-holder a:hover {
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.menu-letter {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.menu-info {
  position: absolute;
  bottom: 4rem;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-copy {
    flex: 0;
    margin-top: 6rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15rem;
  }
  .menu-copy {
    padding-top: 8em;
  }
  .menu-link-item-holder a {
    width: fit-content;
  }
}
