@use '../../styles/base/' as *;
.teachers_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 10vh;

  @media (min-width: 768px) {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  }

  .teachers_title {
    position: relative;
    line-height: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.225));
    text-transform: uppercase;
    width: 0%;
    font-size: $font-size-xl;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
    text-align: center;

    @media (min-width: 768px) {
      font-size: $font-size-xxxl;
    }
  }

  .desc {
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    font-size: $font-size-m;
    font-family: $font-base;
  }

  .teachers_images {
  width: 100%;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr; // Single column for mobile
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-end;
  padding: 0 1rem;
  
  margin: 0;
  border-radius: 25px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    
  }
  }
}

.tooltip_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  display: none;
  grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  margin: 0;

  @media (min-width: 768px) {   
    grid-template-columns: repeat(3, 1fr);
    height: 160vh;
    display: grid;
  }
}

.grid_item {
  position: relative;
  width: 80%;
  height: 50vh;
  padding: 1rem 0;
  background-color: transparent;
  pointer-events: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  z-index: 5;

  @media (min-width: 768px) {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1rem 0;
  }
}
