

// for id Fullscreen items page
.wrapper {
    padding: 5rem 0;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;

    @media screen and (max-width: 480px) {
      height: 100%;
    }
  
    .go_back {
      cursor: pointer;
      color: #8f8f8f;
      background-color: #f8f8f8;
      padding: 0.5rem 1rem;
      text-decoration: none;
      position: fixed;
      left: 10vw;
      top: 10vh;
      transition: all 0.4s ease;
      z-index: 1000;
  
      &:hover {
        background-color: #ee4e34;
        color: white;
      }

      @media screen and (max-width: 680px) {
        left: 20%;
      }
      @media screen and (max-width: 460px) {
        padding: 0.5rem 1rem;
        right: 10%;
        top: 12.5%;
        left: auto;
      }
    }
  
    .card {
      margin-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
  
      @media screen and (max-width: 1180px) {
        margin: 5rem auto 5rem;
        width: 100%;
      }
      @media screen and (max-width: 680px) {
      }
      @media screen and (max-width: 460px) {
        display: flex;
        flex-direction: column;
        margin: 0;
      }
  
      .img {
        position: absolute;
        top: 0%;
        left: 55%;
        width: 100%;
        height: 100%;
        background: #ec6505;
        cursor: pointer;
  
        @media screen and (max-width: 680px) {
          top: 20%;
          left: 0;
          position: relative;
          width: 100%;
          height: 60vh;
        }
        @media screen and (max-width: 460px) {
          position: relative;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        > img {
          margin: 0;
          padding: 2rem;
          width: 50%;
          height: auto;
          filter: drop-shadow(1px 1px 1px #000000)
          drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.825));
          margin-bottom: 20rem;
          
        /*   @media screen and (max-width: 680px) {
            margin-top: 30%;
          }
            */
          @media screen and (max-width: 460px) {
            position: relative;
            margin: 10% auto 10%;
            width: 100%;
            height: unset;
          } 
        }
      }
      .details {
        margin: 10rem auto 0;
        display: flex;
        flex-direction: column;
        width: 100%;
  
        @media screen and (max-width: 680px) {
          position: absolute;
          margin: 0;
          top: 60%;
          width: 100%;
          z-index: 10;
        }
        @media screen and (max-width: 460px) {
          position: relative;
          padding: 0 0 0 2rem;
          margin: 0 auto;
          top: 0%;
          width: 100%;
          z-index: 10;
        }
        .inner {
          margin: 0 0 0 20rem;
          width: 40%;
          position: relative;
  
          @media screen and (max-width: 1185px) {
            width: 100%;
            margin: 10rem 0 0 3rem;
          }
  
          @media screen and (max-width: 680px) {
            margin: 10rem 0 0 3rem;
          }
          @media screen and (max-width: 460px) {
            margin: 1rem auto 1rem;
          }
  
          .title {
            color: #4e4e4e;
            font-weight: 100;
            text-align: center;
            width: 100%;
            margin-bottom: 22px;
          }
  
          h1 {
            color: #888;
            margin-bottom: 2rem;
            -webkit-text-stroke: transparent !important;
            background-color: black;
            padding: 0.5rem 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @media screen and (max-width: 680px) {
              
            }
            @media screen and (max-width: 460px) {
            }
          }
          p {
            color: #eeecec;
            text-shadow: 1px 1px 2px rgba(0, 0, 0), 0 0 8px rgba(0, 0, 0, 1);
            font-weight: 400;
            width: 75%;
            margin-bottom: 1rem;
            @media screen and (max-width: 680px) {
              width: 90%;
            }
            @media screen and (max-width: 460px) {
            }
          }
          .additionals {
            margin: 0.25rem 0 0.5rem;
            span {
              color: #4e4e4e;
              @media screen and (max-width: 680px) {
              }
              @media screen and (max-width: 460px) {
              }
            }
          }
          .steps {
            color: #f0f0f0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0), 0 0 8px rgba(0, 0, 0, 1);
  
            @media screen and (max-width: 460px) {
            }
          }
        }
      }
    }
  }
  