
.contact {
  margin: 0 auto;
  padding: 20vh 0 10vh;
  max-width: 800px;
  overflow-x: hidden;

  h2 {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
    font-size: clamp(3rem, 4vw, 6rem);
    color: #ebb31b;
    text-transform: capitalize;
    font-weight: 800;
   

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }

  select {
    color: black;
    border-radius: 5px;
    font-weight: 600;
  }

  .contact_form {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   

    &:valid input[type='submit'] {
      color: #8f8f8f;
      background-color: #ccf5ac;

      &:hover {
        transition: all 0.4s ease-in-out;
        color: #121212;
        background-color: #cef0a2;
      }
    }
    &:invalid input[type='submit'] {
      &:hover {
        transition: all 0.4s ease-in-out;
        color: white;
        background-color: rgba(250, 83, 54, 0.959);
      }
    }

    .input_field {
      position: relative;
      margin: 0.25rem auto 0.5rem;
      width: 80%;

      .check_icon {
        position: absolute;
        margin-left: 0.25rem;
        opacity: 0;

        &:last-child {
          top: 0;
        }
      }
    }

    input,
    textarea {
      position: relative;
      padding: 0.25rem 0.5rem;
      color: rgba(255, 255, 255, 0.665);
      font-size: 0.8rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid;
      width: 100%;

      &[type='textarea'] {
        height: 20vh;
        border: 1px solid #888;
      }
    }

    input:focus,
    textarea:focus {
      outline: none;
      border-bottom: 1px solid white;
    }

    input[type='submit'] {
      margin: 1rem auto 0;
      padding: 1rem 2rem;
      width: 40%;
      color: #888;
      background-color: transparent;
      border: 1px solid #888;
      cursor: pointer;
      border-radius: 5px;
    }

    label {
      margin: 0.25rem auto 0.25rem;
      text-align: left;
      color: #888;
      width: 80%;
    }

    input:invalid {
      border-bottom-color: #5c5c5c;
      ~ .check_icon {
        opacity: 0.3;
      }
    }

    input:not([type='submit']):valid {
      outline: none;
      border-bottom-color: #def8b7;

      ~ .check_icon {
        opacity: 1;
      }
    }

    textarea {
        border-radius: 5px;
    }
    textarea:invalid {
      border: 1px solid #f3b3b380;
      ~ .check_icon {
        opacity: 0.3;
      }
    }
    textarea:valid {
      border: 1px solid #def8b7;

      ~ .check_icon {
        opacity: 1;
      }
    }

    > .message {
      position: relative;
      margin: 1rem auto;
      width: 60%;
      height: 20px;
      font-size: 1rem;
      font-family: monospace;
      color: white;
    }
  }
}

.recapthcha {
  padding: 2rem 5rem;
}

@media (max-width: 980px) {
  .recapthcha {
    padding: 0;
    align-self: center;
  }
}
