@use '@/styles/base' as *;

.tribute {
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    h1 {
        font-size: 2rem;
        margin: 2rem 0;
        color: white;
    }



    section {
        position: relative;
        padding: 3rem 2rem;
        margin: 0 auto;
        width: 100%;

        @media (min-width: 768px) {
            padding: 3rem 4rem 1rem;
            width: 60vw;
        }
    }
}

.title {
    display: inline-block;
    font-weight: 800;
    font-size: clamp($font-size-l, 4vw + 0.75rem, $font-size-xxl);
    font-weight: $font-bold;
    font-family: $font-alt;
    padding: 0 4rem;

    
  @media (max-width: 980px) {
    padding: 0 2rem;
  }
}

.row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Default to 3 columns
    gap: 2rem; // Add spacing between grid items
    width: 100%;
    padding: 4rem;
  
    @media screen and (max-width: 1024px) { // Tablet view
      grid-template-columns: repeat(2, 1fr); // Switch to 2 columns
      padding: 2rem;
    }
  
    @media screen and (max-width: 680px) { // Mobile view
      grid-template-columns: 1fr; // Switch to 1 column
      padding: 1rem;
    }
  
    .card {
      box-sizing: border-box;
      position: relative;
      border-radius: 2px;
      padding: 40px;
      cursor: pointer;
      background-image: linear-gradient(180deg, #f8f8f8 50%, rgb(0, 0, 0) 50%);
      width: 100%;
      max-width: none; 
      height: 20rem; 
      margin: 0 auto; // Center cards within grid cells
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.235);
      display: flex;
      flex-direction: column;
      align-items: center;
  
      @media screen and (max-width: 680px) {
        clip-path: none;
        border-bottom: 1px solid #888;
        margin: 0;
      }
  
      img {
        width: 60%;
        height: auto;
        object-fit: cover;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.335));
      }
  
      .row_headline {
        font-size: 0.875rem;
        color: #282828;
        font-weight: 500;
        text-align: right;
        width: 90%;
        margin: 0 auto 1rem;
        display: block;
      }
  
      .info {
        position: relative;
        width: 90%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 2rem 0 0;
        font-size: 0.8rem;
  
        h4 {
          margin: 1rem auto 1rem auto;
          color: #888;
          font-size: 1.1rem;
        }
  
        span {
          color: #f8f8f8;
          border-radius: 25px;
          width: 80%;
          margin: 1rem auto 0 1rem;
        }
      }
    }
  }