@use '../../styles/base/' as *;
.tooltip-trigger-text {
    border-bottom: 1px dashed grey;
    pointer-events: auto;
  }
  
  .tooltip-body {
    position: fixed;
    padding: 8px;
    background: #121212;
    color: white;
    box-shadow: 2px 2px 3px rgba(0 ,0, 0, 0.3);
    text-align: center;
    font-size: $font-size-m;
    border-radius: 8px;
  }