@use '@/styles/base' as *;

.text {
    word-break: keep-all;
}

.span {
    display: inline-block;
    font-weight: 800;
    font-size: clamp($font-size-xl, 4vw + 0.75rem, $font-size-xxl);
    font-weight: $font-bold;
    font-family: $font-alt;
    color: $color-orange;
}

.sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
    align-self: center;
    }